<div>
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<div>
					<span class="login100-form-title p-b-33">
						nick님 환영합니다.
					</span>
				</div>
				<div style="text-align: right; padding-bottom: 2rem;">
					<a href="/index">
						logout
					</a>
				</div>
				<div style="padding-bottom: 1rem;">
					<span style="font-weight: bolder;">
						채팅방 목록
					</span>
				</div>
				<div>
					<ul>
						<li>
							room1
						</li>
						<li>
							room2
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>