<!-- Footer start -->
<hr>
<section class="footer" style="padding-top: 20px;">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<p class="mb-0">Copyrights © 2019. Designed & Developed by Themefisher</p>
			</div>
		</div>
	</div>
</section>
<!-- Footer End -->