<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <select id="room">
      <option value="room1">Room1</option>
      <option value="room2">Room2</option>
    </select>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(function() {
        const name = prompt('What your name');
        const socket = io();
        var room = ['room1', 'room2'];
        var num = 0;

        socket.emit('joinRoom', num, name);

        $('#room').change(() => {
            socket.emit('leaveRoom', num, name);
            num++;
            num = num % 2;
            $('ul').empty();
            socket.emit('joinRoom', num, name);
        });

        $('form').submit(function() {
            socket.emit('chat message', num, name, $('#m').val());
            $('#m').val('');
            return false;
        });
        
        socket.on('chat message', function(name, msg) {
            $('#messages').append($('<li>').text(name + ' : ' + msg));
        });

        socket.on('leaveRoom', function(num, name) {
            $('#messages').append($('<li>').text(name + ' leaved ' + room[num] + ':('));
        });

        socket.on('joinRoom', function(num, name) {
            $('#messages').append($('<li>').text(name + ' joined ' + room[num] + ':)'));
        });
      });
    </script>
  </body>
</html>